#*
*#
*.swp
*~
.blobs
.bundle
.cache
.dev_builds
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
.gitreview
.idea
.ruby-version
.DS_Store
**/.DS_Store
/blobs
/config/dev.yml
/config/private.yml
/dev_releases
/output
/releases/*.tgz
/releases/**/*.tgz
/bosh-lite/manifests/*
/bosh-lite/tmp/*
/pkg
/tmp
/bin/
/src/github.com/hpcloud/
/src/github.com/onsi/
