[submodule "src/uaa"]
	path = src/uaa
	url = https://github.com/cloudfoundry/uaa.git
[submodule "src/identity-tools"]
	path = src/uaa_utils/identity-tools
	url = https://github.com/cloudfoundry/identity-tools
	branch = master
